@media only screen and (max-width: 1000px) {
  .navbar {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 30px;
    width: 70%;
  }

  .logo {
    margin: 0 !important;
  }

  .nav-menu {
    grid-row: 2;
    width: 350px !important;
    a {
      width: 800px;
    }
  }

  #donate-button {
    margin: 0;
  }

  #hero {
    padding-bottom: 100px;
    .container {
      flex-direction: column-reverse;
      margin-top: 800px;
      width: 70%;

      .right {
        align-self: normal;
        padding-left: 0;
        p {
          margin: 0;
          padding: 0;
        }
      }

      .left {
        width: 80%;
        height: 100px;
        margin-bottom: 150px;
        padding-bottom: 12rem;
        p {
          font-size: 1.8rem;
          line-height: 2.2rem;
        }

        .issue {
          top: -80px;
        }
      }
    }
  }

  /* Section - 2  */
  #section-2 {
    height: fit-content;
  }

  #section-2 .container {
    padding: 0;
    width: 70%;
    display: flex;
    flex-wrap: wrap;

    gap: 10px;

    .item {
      width: 40%;
    }
  }

  /* Section 3 */

  #section-3 {
    .container-3 {
      width: 70%;

      p {
        font-size: 1.8rem;
      }

      .card-item-container {
        flex-direction: column;
        width: 100%;
        height: 1700px;
        .card {
          width: 100%;
          margin: 20px;
          .inner-card {
            .content {
              margin-top: 200px;
            }
          }
        }
      }
    }
  }

  /* Section 4 */

  #section-4 {
    .container-4 {
      width: 80%;

      .left {
        p {
          font-size: 3rem;
        }
      }

      .right {
        .card {
          padding: 2rem 2rem;

          .content {
            .title {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  #section-5 {


    .controls {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0;
      margin-top: 50px;
    }

    .container {
      width: 70%;
      height: auto;
      flex-direction: column;
      padding-top: 0;
      margin-top: 0;
    }
    .stories {
      top: 0;
      left: 50%;

      position: absolute;
      transform: translate(-50%,50%);
    }

    .slider {
      height: 700px;

      .controls {
        position: absolute;
        bottom: 10px;
        right: 0;
      }
    }

    .slider-component {
      height: 100%;
      .slider-card {
        position: absolute;
        width: 80%;
        height: 20%;
        bottom: 0px;
        right: 0px;

        .quote {
          font-size: 1.5rem;
        }
      }
      .image {
        top: 100px;
        left: 0;
        width: 90%;
        height: 70%;
        padding: 0;
        margin: 0;
      }
    }
  }

  #section-6 {
    .container-6 {
      width: 70%;
      p {
        width: 100%;
      }

      .event {
        width: 100%;

        .right {
          .event-title {
            font-size: 1.5rem;
          }
          .event-details {
            font-size: 1rem;
          }
        }

        img {
          .left {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }

  #section-7 {
    .news-letter-container {
      width: 80%;
      flex-direction: column;
      gap: 1rem;
      align-items: normal;
    }

    .news-letter-text {
      font-size: 1.8rem;
      width: 100%;
    }
  }

  #footer {
    .footer-container {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      align-items: center;
      width: 50%;

      .logo{
        grid-row: 1;
        grid-column: 2;
      }
      .item {
        grid-row: 2;
        padding:0 ;
        margin-top: 20%;

        hr{
          width: 100px;
        }
      }
      .stop-climate-change-message{
        grid-row: 3;
        margin-top: 20%;
        grid-column: 2;
        font-size: 2.5rem;
        text-align: left;
      }
    }
  }
}
