@media only screen and (max-width: 480px) {
  .navbar {
    width: 100% !important;
    padding: 0 !important;
    .logo {
      padding: 0px 20px;
    }
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu-collapsed {
    display: none;
  }

  .nav-menu {
    display: none !important;
  }

  .hide {
    display: flex !important;
    position: absolute;
    top: 6rem;
    left: 0;
    background: white;
    padding: 0rem;
    flex-direction: column;
    z-index: 10;
    gap: 3rem;
    align-items: center;
    width: 100vw;
    padding: 2rem 0;

    a {
      text-decoration: none;
      color: rgb(77, 77, 77);
    }
  }

  #donate-button {
    display: none !important;
  }

  #toggle-button {
    display: block !important;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: transparent;
    border: none;
  }

  #hero {
    padding-bottom: 0;
    .container {
      width: 100%;
      margin-top: 500px !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;

      .right {
        margin-top: 0 !important;
        padding: 0;
        margin-left: 30px;
        p {
          font-size: 3rem;
        }
      }
      .left {
        padding: 15px;
        margin-top: 100px;
        padding-bottom: 80px;

        p {
          font-size: 1.3rem;
          line-height: 22px;
          text-align: center;
        }

        .issue {
          top: 60px;
          left: 38%;
          width: 100px;
          font-size: 12px !important;
        }

        .link {
          text-align: center;
          a {
            text-align: center;
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }

  #section-2 {
    .container {
      width: 90%;
    }
  }

  #section-3 {
    .container-3 {
      width: 90%;
      align-items: center;
      p {
        color: white;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 600;
      }

      .card-item-container {
        margin-top: 100px !important;
        .card {
          margin-bottom: 100px;
          .card-image {
            left: 20px;
            top: -80px;
            width: 80%;
          }

          .inner-card {
            .content {
              align-items: center;
              margin-top: 50%;
            }
          }
        }
      }
    }
  }

  #section-4 {
    .container-4 {
      flex-direction: column;
      .left {
        width: 100% !important;
        margin-top: 0;
        p {
          font-size: 40px !important;
          width: 100%;
        }
      }

      .right {
        margin-top: 50px;
      }
    }
  }

  #section-5 {
    display: flex;
    .container {
      margin-top: 0;
      width: 90%;
      flex-direction: column;
      .stories {
        margin: 0;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .controls {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 0;
        margin-top: 50px;
      }

      .slider {
        display: flex;
        align-items: center;
      }

      .take-action-button {
        position: absolute;
        bottom: 10px;
      }

      .slider-component {
        .image {
          width: 400px;
          height: 350px;
        }

        .slider-card {
          margin-top: 100px;
          padding-top: 100px;
          text-align: center;
          padding-bottom: 100px;
        }
      }
    }
  }

  #section-6 {
    .message {
      font-size: 3rem;
      text-align: center;
    }
    .container-6 {
      width: 100%;
      align-items: center;

      .event {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        .event-tag {
          top: 0px;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0px !important;
          padding: 0px 23px !important;
          font-size: 12px;
        }

        .event-title {
          text-align: center;
        }

        .event-details {
          text-align: center;
        }

        .left {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            width: 100%;
          }
        }
        .right {
          width: 90%;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .event:nth-child(3) {
        flex-direction: column-reverse;
      }

      .latest-news {
        margin-right: 0 !important;
      }
    }
  }

  #section-7 {
    .news-letter-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .news-letter-text {
      font-size: 1.3rem;
    }

    .email-subscribe {
      width: 100%;
      input {
        font-size: 1rem;
        padding: auto;
      }
    }
  }

  #footer {
    width: 100%;

    .footer-container {
      width: 90%;
      display: grid;
      grid-template-columns: 50% 50%;
      .logo {
        grid-row: 1;
        grid-column: 1;
      }
      .item {
        grid-row: 2;
        padding: 0;
        margin-top: 20%;

        hr {
          width: 100px;
        }
      }

      .item:nth-child(4) {
        grid-row: 3 !important;
      }

      .stop-climate-change-message {
        grid-row: 3;
        margin-top: 20%;

        text-align: left;
      }
    }
  }
}
