#section-6 {
  background: #354463;
  display: flex;
  justify-content: center;

  .message {
    width: 70%;
    font-family: brushStroke;
    font-size: 70px;
    color: white;
    margin-bottom: 70px;
  }
  .container-6 {
    width: 1150px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 4rem;
    gap: 2rem;

    .image {
      width: 50%;
      height: 50%;
    }
    
    .event {
      display: flex;
      width: 100%;
      margin-bottom: 80px;
      margin: 0 0.8rem;

      .left{
        width: 50%;
        img{
          width: 100%;
        }
      }

      
      .right {
        width: 50%;
        position: relative;
        padding: 0 8%;

        .event-tag {
          position: absolute;
          padding: 0px 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 2px;
          background: white;
          color: #354463;
        }

        .event-title {
          color: white;
          margin-top: 100px;
          margin-bottom: 25px;
          font-size: 2.5rem;
          font-weight: bold;
        }
        .event-details {
          color: white;
          line-height: 30px;
          font-size: 1.2rem;
          width: 100%;
        }

        .button {
          margin-top: 50px;
          width: 160px;
        }
      }

      .latest-news {
        padding: 0;
        width: 50%;
        margin-right: 2rem;
        
      }
    }
  }
}
