#section-7 {
    width: 100%;
    background: #c1f7d5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 100px 0;

    .news-letter-container{
        width: 1150px;
        display: flex;
        align-items: center;
        
    }

    .news-letter-text{
        font-size: 1.8rem;
        width: 50%;
        color: #354463;
        font-weight: 700;
    }
    .email-subscribe{
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        gap: 1rem;

        input{
            border-radius: 2rem;
            border: none;
            width: 60%;
            padding: 15px;
            font-size: 18px;
        }
        .button{
            padding: 1rem;
            color: #c1f7d5;
            background: #354463;
            &:hover{
                background: white;
                color: #354463;
            }
        }
    }
}