#section-4 {
  background-image: url(".././assets/home/did-you-know-background.png");
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: 5% 8%;
  display: flex;
  justify-content: center;

  .container-4 {
    width: 1150px;
    height: 100%;
    display: flex;
    position: relative;
    margin: 120px 0px;

    .left {
      width: 50%;
      height: 100%;
      display: flex;
      margin-top: 100px;
      flex-direction: column;
      p {
        font-family: brushStroke;
        font-size: 70px;
        color: white;
        width: 60%;
      }

      .button {
        width: 150px;
        margin-top: 50px;
      }
    }

    .right {
      color: #354463;
      display: flex;
      gap: 30px;
      flex-direction: column;
      position: relative;

      .issue {
        top: -15px;
        left: 55px;
        padding: 0px 25px;
      }

      .card {
        background: white;
        padding: 3.5rem 3.5rem;
        display: flex;
        flex-direction: row;

        .content {
          width: 90%;

          .title {
            font-size: 45px;
            font-weight: bolder;
            line-height: 55px;
            margin-bottom: 10px;
          }

          .body {
            width: 90%;
          }
        }
        .socials {
          width: 2.5rem;


          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;

          .icon {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #c1f7d5;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
