/* SECTION - 2 */

#section-2 {
  position: relative;
  height: 250px;
  background: #c1f7d5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .issue {
    margin-left: auto;
    top: -15px;
    width: 200px;
  }

  .container {
    width: 1150px;

    display: flex;
    justify-content: space-between;
    color: #354463;

    .item {
      width: 20%;
      height: 50%;
      font-size: 1rem;
      font-weight: 50;
      line-height: 25px;

      .item-title {
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
      }

      .item-details {
        width: 200px;
        height: 200px;
        
      }

      hr {
        margin: 15px 0px;
        margin-top: 15px;
        border-top: 1px solid #354463;
      }
    }
  }
}
