#footer {
  background: white;

  display: flex;
  justify-content: center;

  .footer-container {
    width: 1150px;
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logo {
      font-weight: bold;

      p {
        font-size: 20px;
      }
    }

    .item {
      padding: 0 50px;

      .item-details {
        display: flex;
        flex-direction: column;
        gap: 10px;

        color: rgb(77, 77, 77);
      }
    }

    .stop-climate-change-message {
      font-family: brushStroke;
      font-size: 44px;
      width: 200px;
      text-align: right;
      color: #354463;
    }

    hr {
      margin: 15px 0px;
      margin-top: 15px;
      border-top: 1px solid #354463;
    }
  }
}
