* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;

  transition: all ease 0.2s;
}

@font-face {
  font-family: brushStroke;
  src: url("../Flood\ Std\ Regular/Flood Std Regular.otf");
}

body{
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  width: 1140px;
  align-items: center;
  height: 100px;

  .logo {
    width: 40%;
    font-weight: bold;
    margin-left: 10px;

    p {
      font-size: 20px;
    }
  }
  .nav-menu {
    width: 40%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: rgb(77, 77, 77);
    }
  }

  #toggle-button {
    display: none;
  }
}

#donate-button{
  margin-left: 3rem;
}

.button {
  border-radius: 30px;
  padding: 13px 13px;
  border: none;
  font-size: 18px;
  background: #c1f7d5;
  font-family: sans-serif;
  color: #354463;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button:hover {
  color: #c1f7d5;
  background: #354463;
}

.nav-menu-collapsed{
  display: none;
}


