#hero {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-image: url('.././assets/home/annie-spratt-135307-unsplash.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 1150px;
    display: flex;
    position: relative;
    align-items: center;
    height: 350px;

    .left {
      width: 540px;
      background: white;
      padding: 65px;
      margin: 0;
      height: 95%;
      color: #354463;
      p {
        font-size: 3rem;
        font-weight: bolder;
        line-height: 55px;
        margin-top: 15px;
      }
      .link {
        margin-top: 50px;
        a {
          color: black;
        }
      }
    }

    .right {
      width: 50%;
      height: 100%;
      padding: 65px;

      p {
        font-family: brushStroke;
        font-size: 70px;
        display: table-caption;
        color: white;
        margin-left: 32%;
        margin-top: -30px;
      }
    }
  }
}

.issue {
  position: absolute;
  top: 15px;
  width: 160px;
  font-size: 1rem!important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color: white;
  background: #354463;
}
