/* SECTION - 3 */
#section-3 {
    background: #354463;
    display: flex;
    justify-content: center;
    
    .container-3 {
      width: 1150px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-top: 100px;
  
      .whatwedo {
        width: 180px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
        color: #354463;
        background: white;
        margin-top: 0px;
        padding: 15px 0px;
      }
  
      p{
        color: white;
        font-size: 2.5rem;
        font-weight: 600;
      }
  
      .card-item-container{
        height: 584px;
        width: 100%;
        margin-bottom: 100px;
        position: relative;
        display: flex;
        justify-content: space-between;
  
        .card{
          height: 100%;
          width: 30%;
          position: relative;  
          
          .tree-planting{
            background-image: url('../assets/home/tree-planting.png'); 
          }

          .education-and-training{
            background-image: url("../assets/home/education-training.png");
          }

          .advocacy-and-training{
            background-image: url("../assets/home/advocacy.png");
          }
          .card-image{
            width: 90%;
            height: 36%;
            top: 0;
            right: 0;
            z-index: 1;
            position: absolute;
            background-size: cover;
            background-position: center;
          }
  
          .inner-card{
            width: 90%;
            background: white;
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            
            .content{
              display: flex;
              justify-content: center;
              flex-direction: column;
              padding: 30px;
              margin-top: 65%;
              gap: 18px;
            }
            
            .inner-title{
              font-size:1.5rem;
              color: #354463;
            }
  
            .inner-content{
              font-size: 1rem;
              font-weight: 80;
              color: #354463;
              line-height: 30px;
            }
            
            .button{
               width: 150px;
            }
          }
        }
      }
    }
  }
  