#section-5 {
  display: flex;
  justify-content: center;
}

.container {
  margin: 100px 0px;
  width: 1150px;
  height: 300px;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.slider {
  height: 35rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.stories {
  position: absolute;
  width: 160px;
  height: 50px;
  top: 0px;
  left: 52%;
  transform: translateY(-75%);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color: white;
  z-index: 10;
  background: #354463;
}

.controls {
  width: 100%;
  height: 40px;
  display: flex;
  position: absolute;
  top: 5px;
  z-index: 10;
}

.btn {
  width: 18px;
  height: 18px;
  background: black;
  margin: 3px;
  cursor: pointer;
}

.slider-row {
  height: 100%;
  display: flex;
  width: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.slider-component {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.slider-card {
  background: #354463;
  width: 45%;
  height: 50%;
  padding: 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;
}

.quote-by {
  font-weight: 100;
  color: white;
  margin-bottom: 0px;
}

.image {
  position: absolute;
  height: 100%;
  width: 55%;
  z-index: -1;
  top: 0;
  right: 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  width: 150px;
}


.take-action-button{
    position: absolute;
    bottom: 0px;
}