* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;
  transition: all ease 0.2s;
}

@font-face {
  font-family: brushStroke;
  src: url("../Flood\ Std\ Regular/Flood Std Regular.otf");
}

body {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  width: 1140px;
  align-items: center;
  height: 100px;
}

.navbar .logo {
  width: 40%;
  font-weight: bold;
  margin-left: 10px;
}

.navbar .logo p {
  font-size: 20px;
}

.navbar .nav-menu {
  width: 40%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-menu a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

#toggle-button {
  display: none;
}

#donate-button {
  margin-left: 3rem;
}

.button {
  border-radius: 30px;
  padding: 13px 13px;
  border: none;
  font-size: 18px;
  background: #c1f7d5;
  font-family: sans-serif;
  color: #354463;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  color: #c1f7d5;
  background: #354463;
}

.nav-menu-collapsed {
  display: none;
}

/* HERO Section */

#hero {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-image: url(".././assets/home/annie-spratt-135307-unsplash.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .container {
  width: 1150px;
  display: flex;
  position: relative;
  align-items: center;
  height: 350px;
}

#hero .container .left {
  width: 540px;
  background: white;
  padding: 65px;
  margin: 0;
  height: 95%;
  color: #354463;
}

#hero .container .left p {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 55px;
  margin-top: 15px;
}

#hero .container .left .link {
  margin-top: 50px;
}

#hero .container .left .link a {
  color: black;
}

#hero .container .right {
  width: 50%;
  height: 100%;
  padding: 65px;
}

#hero .container .right p {
  font-family: brushStroke;
  font-size: 70px;
  display: table-caption;
  color: white;
  margin-left: 32%;
  margin-top: -30px;
}

.issue {
  position: absolute;
  top: 15px;
  width: 160px;
  font-size: 1rem !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color: white;
  background: #354463;
}

/* Action Section */

/* SECTION - 2 */

#section-2 {
  position: relative;
  height: 250px;
  background: #c1f7d5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#section-2 .issue {
  margin-left: auto;
  top: -25px;
  width: 200px;
}

#section-2 .container {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  color: #354463;
}

#section-2 .container .item {
  width: 20%;
  height: 50%;
  font-size: 1rem;
  font-weight: 50;
  line-height: 25px;
}

#section-2 .container .item .item-title {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#section-2 .container .item .item-details {
  width: 200px;
  height: 200px;
}

#section-2 .container .item hr {
  margin: 15px 0px;
  margin-top: 15px;
  border-top: 1px solid #354463;
}

/* What we do Section */
/* SECTION - 3 */
#section-3 {
  background: #354463;
  display: flex;
  justify-content: center;
}

#section-3 .container-3 {
  width: 1150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}

#section-3 .container-3 .whatwedo {
  width: 180px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color: #354463;
  background: white;
  margin-top: 0px;
  padding: 15px 0px;
}

#section-3 p {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

#section-3 .container-3 .card-item-container {
  height: 584px;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#section-3 .container-3 .card {
  height: 100%;
  width: 30%;
  position: relative;
}

#section-3 .container-3 .card .tree-planting {
  background-image: url("../assets/home/tree-planting.png");
}

#section-3 .container-3 .card .education-and-training {
  background-image: url("../assets/home/education-training.png");
}

#section-3 .container-3 .card .advocacy-and-training {
  background-image: url("../assets/home/advocacy.png");
}

#section-3 .container-3 .card .card-image {
  width: 90%;
  height: 36%;
  top: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  background-size: cover;
  background-position: center;
}

#section-3 .container-3 .card .inner-card {
  width: 90%;
  background: white;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#section-3 .container-3 .card .inner-card .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin-top: 65%;
  gap: 18px;
}

#section-3 .container-3 .card .inner-card .inner-title {
  font-size: 1.5rem;
  color: #354463;
}

#section-3 .container-3 .card .inner-card .inner-content {
  font-size: 1rem;
  font-weight: 80;
  color: #354463;
  line-height: 30px;
}

#section-3 .container-3 .card .inner-card .button {
  width: 150px;
}

/* Did you know section */
#section-4 {
  background-image: url(".././assets/home/did-you-know-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 5% 8%;
  display: flex;
  justify-content: center;
}

#section-4 .container-4 {
  width: 1150px;
  height: 100%;
  display: flex;
  position: relative;
  margin: 120px 0px;
}

#section-4 .container-4 .left {
  width: 50%;
  height: 100%;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}

#section-4 .container-4 .left p {
  font-family: brushStroke;
  font-size: 70px;
  color: white;
  width: 60%;
}

#section-4 .container-4 .left .button {
  width: 150px;
  margin-top: 50px;
}

#section-4 .container-4 .right {
  color: #354463;
  display: flex;
  gap: 30px;
  flex-direction: column;
  position: relative;
}

#section-4 .container-4 .right .issue {
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 25px;
}

#section-4 .container-4 .right .card {
  background: white;
  padding: 3.5rem 3.5rem;
  display: flex;
  flex-direction: row;
}

#section-4 .container-4 .right .card .content {
  width: 90%;
}

#section-4 .container-4 .right .card .content .title {
  font-size: 45px;
  font-weight: bolder;
  line-height: 55px;
  margin-bottom: 10px;
}

#section-4 .container-4 .right .card .content .body {
  width: 90%;
}

#section-4 .container-4 .right .card .socials {
  width: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#section-4 .container-4 .right .card .socials .icon {
  width: 100%;
  height: 44px;
  border-radius: 50%;
  background: #c1f7d5;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Stories section */

#section-5 {
  display: flex;
  justify-content: center;
}

.gray {
  background-color: gray;
  color: white;
}

.container {
  margin: 100px 0px;
  width: 1150px;
  height: 300px;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.slider {
  height: 35rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.stories {
  position: absolute;
  width: 160px;
  height: 50px;
  top: 0px;
  left: 52%;
  transform: translateY(-75%);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color: white;
  z-index: 10;
  background: #354463;
}

.controls {
  width: 100%;
  height: 40px;
  display: flex;
  position: absolute;
  top: 5px;
  z-index: 10;
}

.btn {
  width: 18px;
  height: 18px;
  background: black;
  margin: 3px;
  cursor: pointer;
}

.slider-row {
  height: 100%;
  display: flex;
  width: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.slider-component {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.slider-card {
  background: #354463;
  width: 45%;
  height: 50%;
  padding: 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 25px;
}

.quote-by {
  font-weight: 100;
  color: white;
  margin-bottom: 0px;
}

.image {
  position: absolute;
  height: 100%;
  width: 55%;
  z-index: -1;
  top: 0;
  right: 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  width: 150px;
}

.take-action-button {
  position: absolute;
  bottom: 0px;
}

/* Event Section */

#section-6 {
  background: #354463;
  display: flex;
  justify-content: center;
}

#section-6 .message {
  width: 100%;
  font-family: brushStroke;
  font-size: 70px;
  color: white;
}

#section-6 .container-6 {
  width: 1150px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 4rem;
  gap: 2rem;
}

#section-6 .container-6 .image {
  width: 50%;
  height: 50%;
}

#section-6 .container-6 .event {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  margin: 0 0.8rem;
}

#section-6 .container-6 .event .left {
  width: 50%;
}

#section-6 .container-6 .event .left img {
  width: 100%;
}

#section-6 .container-6 .event .right {
  width: 50%;
  position: relative;
  padding: 0 8%;
}

#section-6 .container-6 .event .right .event-tag {
  position: absolute;
  padding: 0px 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  background: white;
  color: #354463;
}

#section-6 .container-6 .event .right .event-title {
  color: white;
  margin-top: 100px;
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
}

#section-6 .container-6 .event .right .event-details {
  color: white;
  line-height: 30px;
  font-size: 1.2rem;
  width: 100%;
}

#section-6 .container-6 .event .right .button {
  margin-top: 50px;
  width: 160px;
}






#section-6 .container-6 .event .latest-news {
  width: 50%;
  position: relative;
  padding-right: 30px;
}

#section-6 .container-6 .event .latest-news .event-tag {
  position: absolute;
  padding: 0px 10%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  background: white;
  color: #354463;
  z-index: 1;
}

#section-6 .container-6 .event .latest-news .event-title {
  color: white;
  margin-top: 100px;
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
}

#section-6 .container-6 .event .latest-news .event-details {
  color: white;
  line-height: 30px;
  font-size: 1.2rem;
  width: 100%;
}

#section-6 .container-6 .event .latest-news .button {
  margin-top: 50px;
  width: 160px;
}

/* Newsletter Section */

#section-7 {
  width: 100%;
  background: #c1f7d5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 100px 0;
}

#section-7 .news-letter-container {
  width: 1150px;
  display: flex;
  align-items: center;
}

#section-7 .news-letter-text {
  font-size: 1.8rem;
  width: 50%;
  color: #354463;
  font-weight: 700;
}

#section-7 .email-subscribe {
  display: flex;
  width: 94%;
  justify-content: space-evenly;
  gap: 1rem;
}

#section-7 .email-subscribe input {
  border-radius: 2rem;
  border: none;
  width: 60%;
  padding: 15px;
  font-size: 18px;
}

#section-7 .email-subscribe .button {
  padding: 1rem;
  color: #c1f7d5;
  background: #354463;
}

#section-7 .email-subscribe .button:hover {
  background: white;
  color: #354463;
}

/* Footer Section */

#footer {
  background: white;
  display: flex;
  justify-content: center;
}

#footer .footer-container {
  width: 1150px;
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#footer .footer-container .logo {
  font-weight: bold;
  width: 200px;
}

#footer .footer-container .logo p {
  font-size: 20px;
}

#footer .footer-container .item {
  width: 200px;
  padding: 0 50px;
}

#footer .footer-container .item .item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(77, 77, 77);
}

#footer .footer-container .stop-climate-change-message {
  font-family: brushStroke;
  font-size: 45px;
  text-align: right;
  color: #354463;
  width: 200px;
}

#footer .footer-container hr {
  margin: 15px 0px;
  margin-top: 15px;
  border-top: 1px solid #354463;
}

/* Media queries */

/* Tablet */

@media only screen and (max-width: 1000px) {
  .navbar {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 30px;
    width: 70%;
  }
  .navbar .logo p {
    font-size: 1rem;
  }

  .logo {
    margin: 0 !important;
  }

  .nav-menu {
    grid-row: 2;
    width: 350px !important;
    a {
      width: 800px;
    }
  }

  #donate-button {
    margin: 0;
  }

  #hero {
    padding-bottom: 100px;
    .container {
      flex-direction: column-reverse;
      margin-top: 800px;
      width: 70%;

      .right {
        align-self: normal;
        padding-left: 0;
        p {
          margin: 0;
          padding: 0;
        }
      }

      .left {
        width: 80%;
        height: 100px;
        margin-bottom: 150px;
        padding-bottom: 12rem;
        p {
          font-size: 1.8rem;
          line-height: 2.2rem;
        }

        .issue {
          top: -80px;
        }
      }
    }
  }

  /* Section - 2  */
  #section-2 {
    height: fit-content;
  }

  #section-2 .container {
    padding: 0;
    width: 70%;
    display: flex;
    flex-wrap: wrap;

    gap: 10px;

    .item {
      width: 40%;
    }
  }

  /* Section 3 */

  #section-3 {
    .container-3 {
      width: 70%;

      p {
        font-size: 1rem;
        width: 100%;
      }

      .card-item-container {
        flex-direction: column;
        width: 100%;
        height: 1700px;
        .card {
          width: 100%;
          height: 100%;
          margin: 20px;
          .inner-card {
            .content {
              margin-top: 200px;
            }
          }
        }
      }
    }
  }

  /* Section 4 */

  #section-4 {
    .container-4 {
      width: 80%;

      .left {
        p {
          font-size: 3rem;
        }
      }

      .right {
        .card {
          padding: 2rem 0.8rem;

          .content {
            .title {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  #section-5 {
    .controls {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0;
      margin-top: 50px;
    }

    .container {
      width: 70%;
      height: auto;
      flex-direction: column;
      padding-top: 0;
      margin-top: 0;
    }
    .stories {
      top: 0;
      left: 50%;

      position: absolute;
      transform: translate(-50%, 50%);
    }

    .slider {
      height: 750px;

      .controls {
        position: absolute;
        bottom: 10px;
        right: 0;
      }
    }

    .slider-component {
      height: 100%;
      .slider-card {
        position: absolute;
        width: 80%;
        height: 20%;
        bottom: 0px;
        right: 0px;

        .quote {
          font-size: 1.5rem;
        }
      }
      .image {
        top: 100px;
        left: 0;
        width: 90%;
        height: 70%;
        padding: 0;
        margin: 0;
      }
    }
  }

  #section-6 {
    .container-6 {
      width: 70%;
      p {
        width: 100%;
      }

      .event {
        width: 100%;

        .right {
          .latest-news {
            padding: 0;
          }
          .event-title {
            font-size: 1.5rem;
          }
          .event-details {
            font-size: 1rem;
          }
        }

        img {
          .left {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }

  #section-7 {
    .news-letter-container {
      width: 80%;
      flex-direction: column;
      gap: 1rem;
      align-items: normal;
    }

    .news-letter-text {
      font-size: 1.8rem;
      width: 100%;
    }
  }

  #footer {
    .footer-container {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      align-items: center;
      width: 50%;

      .logo {
        grid-row: 1;
        grid-column: 2;
      }
      .item {
        grid-row: 2;
        padding: 0;
        margin-top: 20%;
        width: 200px;

        hr {
          width: 100px;
        }
      }
      .stop-climate-change-message {
        grid-row: 3;
        margin-top: 20%;
        grid-column: 2;
        font-size: 2.5rem;
        text-align: left;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  #hero {
    .container {
      .right {
        margin-left: 10px;
      }
    }
  }

  .navbar {
    width: 100% !important;
    padding: 0 !important;
    .logo {
      padding: 0px 20px;
    }
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu-collapsed {
    display: none;
  }

  .nav-menu {
    display: none !important;
  }

  .hide {
    display: flex !important;
    position: absolute;
    top: 6rem;
    left: 0;
    background: white;
    padding: 0rem;
    flex-direction: column;
    z-index: 10;
    gap: 3rem;
    align-items: center;
    width: 100vw;
    padding: 2rem 0;
    a {
      text-decoration: none;
      color: rgb(77, 77, 77);
    }

    .button {
      font-size: 1rem;
    }
  }

  #donate-button {
    display: none !important;
  }

  #toggle-button {
    display: block !important;
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: none;
    right: 1rem;
    font-size: 1.5rem;
  }

  #hero {
    padding-bottom: 0;
    .container {
      width: 100%;
      margin-top: 300px !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      .right {
        margin-top: 0 !important;
        padding: 0;
        margin-left: 1rem;
        p {
          font-size: 3rem;
        }
      }
      .left {
        padding: 1.5rem;
        margin-top: 100px;
        padding-bottom: 100px;

        p {
          font-size: 1.5rem;
          line-height: 25px;
          text-align: center;
        }

        .issue {
          top: 60px;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100px;
          font-size: 1rem !important;
          padding: 0 30px;
        }

        .link {
          text-align: center;
          a {
            text-align: center;
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }

  #section-2 {
    .container {
      width: 90%;
      .item {
        margin-bottom: 1.5rem;
        p {
          font-size: 0.9rem;
        }
      }
    }
  }

  #section-3 {
    .container-3 {
      width: 100%;
      align-items: center;
      p {
        color: white;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 600;
        width: 90%;
      }

      .card-item-container {
        width: 100%;
        margin-top: 100px !important;
        .card {
          width: 90% !important;
          display: flex;
          justify-content: center;
          margin-bottom: 100px;
          .card-image {
            left: 50%;
            top: -20px;
            transform: translate(-50%, -50%);
            width: 80%;
          }

          .inner-card {
            .content {
              align-items: center;
              margin-top: 50%;
            }
          }
        }
      }
    }
  }

  #section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-4 {
      flex-direction: column;
      width: 90%;
      .left {
        width: 100% !important;
        margin-top: 0;
        margin: 0;
        p {
          font-size: 50px !important;
          width: 100%;
          font-weight: bold;
        }
        .button {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }

      .right {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .card {
          width: 95%;
          flex-direction: column;
          align-items: center;
          gap: 2rem;

          .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
              font-size: 1.5rem;
            }

            .body {
              text-align: center;
              font-size: 1rem;
              line-height: 1.5rem;
            }
          }

          .socials {
            flex-direction: row;
            width: 100%;
            justify-content: center;
            .icon {
              width: 32px;
              height: 32px;

              padding: 10px;
            }
          }
        }
      }
    }
  }

  #section-5 {
    display: flex;
    .container {
      margin-top: 50px;
      width: 92%;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 50px;
      .stories {
        margin: 0;
        top: 3rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .controls {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 0;
        margin-top: 0px;
      }

      .slider {
        display: flex;
        align-items: center;
      }

      .take-action-button {
        position: absolute;
        bottom: 40px;
      }

      .slider-component {
        .image {
          width: 415px;
          height: 350px;
        }

        .slider-card {
          margin-top: 150px;
          padding-top: 60px;
          text-align: center;
          padding-bottom: 60px;

          .quote {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  #section-6 {
    .message {
      font-size: 40px;
      text-align: center;
    }
    .container-6 {
      width: 100%;
      align-items: center;

      .event {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-bottom: 50px;

        .event-tag {
          top: 0px;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0px !important;
          padding: 0px 23px !important;
          font-size: 12px;
        }

        .event-title {
          text-align: center;
        }

        .event-details {
          text-align: center;
          width: 100%;
          padding: 0 10px;
        }

        .left {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            width: 100%;
          }
        }
        .right {
          width: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .latest-news {
          width: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .event:nth-child(3) {
        flex-direction: column-reverse;
      }
    }
  }

  #section-7 {
    .news-letter-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .news-letter-text {
      font-size: 1.3rem;
    }

    .email-subscribe {
      width: 100%;
      input {
        font-size: 1rem;
        padding: auto;
      }
    }
  }

  #footer {
    width: 100%;

    .footer-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        p {
          text-align: center;
        }
      }

      .item {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
        p {
          text-align: center;
        }
        hr {
          width: 50%;
        }
      }

      .stop-climate-change-message {
        width: 300px;
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}
